Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

MongoDB is a non-relational document database that provides support for JSON-like storage.

Scalability: MongoDB is horizontally scalable, which helps reduce the workload and scale your business with ease. Manageability: The database doesn't require a database administrator. Since it is fairly user-friendly in this way, it can be used by both developers and administrators.

Q2. State and Explain the features of MongoDB.

Features of MongoDB â€“

1.Schema-less Database:

It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and size. It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to
databases.

2.Document Oriented:

In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

3.Indexing:

In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

4.Scalability:

MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

5.Replication:

MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

6.Aggregation: 

It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

7.High Performance:

The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [8]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Dashrathsingh:Dashrathsingh@cluster0.ajvimdl.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [9]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
client = pymongo.MongoClient("mongodb+srv://Dashrathsingh:Dashrathsingh@cluster0.ajvimdl.mongodb.net/?retryWrites=true&w=majority")

In [11]:
db = client['pwskills']

In [12]:
data= {"name" : "dashrathsingh" , 
      "class" : "data science masters" , 
      "time" : "flexi"}

In [13]:
coll_pwskills = db["my_record"]

In [14]:
coll_pwskills.insert_one(data)

Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [15]:
data1 = {"email_id" : "banna@gmail.com" , 
         "phone_number" : 3472792377 , 
         "address" : "jaipur"}

In [16]:
coll_pwskills.insert_one(data1)

In [17]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [18]:
coll_pwskills.insert_many(data2)

In [19]:
coll_pwskills.find_one()

{'_id': ObjectId('64a0025408b73b3b19c7cad1'),
 'name': 'dashrathsingh',
 'class': 'data science masters',
 'time': 'flexi'}

In [22]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('64a0025408b73b3b19c7cad1'), 'name': 'dashrathsingh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('64a0041708b73b3b19c7cad2'), 'email_id': 'banna@gmail.com', 'phone_number': 3472792377, 'address': 'jaipur'}
{'_id': ObjectId('64a005d508b73b3b19c7cad3'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a005d508b73b3b19c7cad4'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a005d508b73b3b19c7cad5'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a005d508b73b3b19c7cad6'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a005d508b73b3b19c7cad7'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a005d508b73b3b19c7cad8'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a005d508b73b3b19c7cad9'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a005d508b73b3b19c7cada'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a005d508b73b3b19c7cadb'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a005d508b73b3b19c7cadc'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a005d508b73b3b19c7cadd'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a005d508b73b3b19c7cade'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a0064b08b73b3b19c7cadf'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64a00e5f08b73b3b19c7cae0'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64a00e5f08b73b3b19c7cae1'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64a00e5f08b73b3b19c7cae2'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('64a010ab357bd730aebd66bc'), 'name': 'dashrathsingh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('64a010ab357bd730aebd66bd'), 'email_id': 'banna@gmail.com', 'phone_number': 3472792377, 'address': 'jaipur'}
{'_id': ObjectId('64a010ac357bd730aebd66be'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a010ac357bd730aebd66bf'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a010ac357bd730aebd66c0'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a010ac357bd730aebd66c1'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a010ac357bd730aebd66c2'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a010ac357bd730aebd66c3'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a010ac357bd730aebd66c4'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a010ac357bd730aebd66c5'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a010ac357bd730aebd66c6'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a010ac357bd730aebd66c7'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a010ac357bd730aebd66c8'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a010ac357bd730aebd66c9'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64a010ae357bd730aebd66ca'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('64a010af357bd730aebd66cb'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('64a010af357bd730aebd66cc'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('64a010af357bd730aebd66cd'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}
{'_id': ObjectId('64a0f41623e9e6e80d8be23d'), 'name': 'dashrathsingh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('64a0f50a23e9e6e80d8be23e'), 'email_id': 'banna@gmail.com', 'phone_number': 3472792377, 'address': 'jaipur'}
{'_id': ObjectId('64a0f55523e9e6e80d8be23f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64a0f55523e9e6e80d8be240'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64a0f55523e9e6e80d8be241'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64a0f55523e9e6e80d8be242'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64a0f55523e9e6e80d8be243'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64a0f55523e9e6e80d8be244'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64a0f55523e9e6e80d8be245'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64a0f55523e9e6e80d8be246'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64a0f55523e9e6e80d8be247'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64a0f55523e9e6e80d8be248'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64a0f55523e9e6e80d8be249'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64a0f55523e9e6e80d8be24a'), 'name': 'Viola', 'address': 'Sideway 1633'}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

The find() method is used to query the MongoDB database. It is used to select documents in a collection and return a cursor to the selected documents. The basic syntax of the find() method with projection in MongoDB is given below:

db.COLLECTION_NAME.find ({}, {KEY:1});

Here, COLLECTION_NAME is the name of the collection and KEY is the name of the field that you want to include or exclude from the result.

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

The sort() method specifies the order in which the query returns the matching documents from the given collection.

 It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specifying an ascending or descending sort respectively.

In [29]:
coll_pwskills.find().sort('address')

Q7. Explain why delete_one(), delete_many(), and drop() is used.

dalete_one() :

In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted.

delete_many() :
    
Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

drop() :
    
The drop() method removes collections from the database. It also removes all indexes associated with the dropped collection. The drop method accepts an optional document. It returns true if the collection dropped successfully. It takes one parameter which is optional.